.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar-links {
  display: flex;
  justify-content: flex-start;
  width: 95%;
  font-size: 1.25rem;
  padding-left: 0.5rem;
}

.navbar-hr {
  width: 100%;
  margin: 0;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.5);
}
