.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0;
  position: sticky;
  width: 95%;
}

.navbar-left {
  display: flex;
  padding-left: 0.5rem;
}

.navbar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-icon {
  font-size: 1.75rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  /* color: #fff;
  background-color: #3399ff; */
}

.navbar-workspace {
  display: flex;
  justify-content: center;
  align-items: center;
}

.workspace-title {
  font-size: 2rem;
  font-weight: 700;
  margin-left: 1.5rem;
}

.navbar-menu {
  flex-grow: 0;
}

.navbar-search {
  padding: 0.5rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0 !important;
}

.auth-buttons {
  padding: 0rem 1.25rem 0 0;
}
